<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}Carles Hervera Website{% endblock %}
        </title>


        <meta name=”description” content="{% block description %}{% endblock %}" />
        <meta name="robots" content="index, follow"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500|Roboto+Condensed:400,400i|Roboto:400,700" rel="stylesheet">

        <link rel="stylesheet" href="{{asset('node_modules/normalize.css/normalize.css')}}">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        {% block stylesheets %}{% endblock %}

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-126060993-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-126060993-1');
        </script>

    </head>
    <body>
        {% block body %}{% endblock %}
        <script src="{{asset('js/main.js')}}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>